.-w-n{
    display: none;
}
.-w-b {
    display: block;
}
.-w-i {
    display: inline;
}
.-w-ib {
    display: inline-block;
}
.-w-11 {
    width: 100%;
}
.-w-12 {
    width: 50%;
}
.-w-13 {
    width: 33.3333%;
}
.-w-23 {
    width: 66.6666%;
}
.-w-14 {
    width: 25%;
}
.-w-34 {
    width: 75%;
}
.-w-15 {
    width: 20%;
}
.-w-25 {
    width: 40%;
}
.-w-35 {
    width: 60%;
}
.-w-45 {
    width: 80%;
}
.-w-16 {
    width: 16.6666%;
}
.-w-56 {
    width: 83.3333%;
}
.-w-17 {
    width: 14.2857%;
}
.-w-27 {
    width: 28.5714%;
}
.-w-37 {
    width: 42.8571%;
}
.-w-47 {
    width: 57.1428%;
}
.-w-57 {
    width: 71.4285%;
}
.-w-67 {
    width: 85.7142%;
}
.-w-18 {
    width: 12.5%;
}
.-w-38 {
    width: 37.5%;
}
.-w-58 {
    width: 62.5%;
}
.-w-78 {
    width: 87.5%;
}
.-w-19 {
    width: 11.1111%;
}
.-w-29 {
    width: 22.2222%;
}
.-w-49 {
    width: 44.4444%;
}
.-w-59 {
    width: 55.5555%;
}
.-w-79 {
    width: 77.7777%;
}
.-w-89 {
    width: 88.8888%;
}
.-w-110 {
    width: 10%;
}
.-w-310 {
    width: 30%;
}
.-w-710 {
    width: 70%;
}
.-w-910 {
    width: 90%;
}
.-w-111 {
    width: 9.0909%;
}
.-w-211 {
    width: 18.1818%;
}
.-w-311 {
    width: 27.2727%;
}
.-w-411 {
    width: 36.3636%;
}
.-w-511 {
    width: 45.4545%;
}
.-w-611 {
    width: 54.5454%;
}
.-w-711 {
    width: 63.6363%;
}
.-w-811 {
    width: 72.7272%;
}
.-w-911 {
    width: 81.8181%;
}
.-w-1011 {
    width: 90.909%;
}
.-w-112 {
    width: 8.3333%;
}
.-w-512 {
    width: 41.6666%;
}
.-w-712 {
    width: 58.3333%;
}
.-w-1112 {
    width: 91.6666%;
}
.-w-113 {
    width: 7.6923%;
}
.-w-213 {
    width: 15.3846%;
}
.-w-313 {
    width: 23.0769%;
}
.-w-413 {
    width: 30.7692%;
}
.-w-513 {
    width: 38.4615%;
}
.-w-613 {
    width: 46.1538%;
}
.-w-713 {
    width: 53.8461%;
}
.-w-813 {
    width: 61.5384%;
}
.-w-913 {
    width: 69.2307%;
}
.-w-1013 {
    width: 76.923%;
}
.-w-1113 {
    width: 84.6153%;
}
.-w-1213 {
    width: 92.3076%;
}
.-w-114 {
    width: 7.1428%;
}
.-w-314 {
    width: 21.4285%;
}
.-w-514 {
    width: 35.7142%;
}
.-w-914 {
    width: 64.2857%;
}
.-w-1114 {
    width: 78.5714%;
}
.-w-1314 {
    width: 92.8571%;
}
.-w-115 {
    width: 6.6666%;
}
.-w-215 {
    width: 13.3333%;
}
.-w-415 {
    width: 26.6666%;
}
.-w-715 {
    width: 46.6666%;
}
.-w-815 {
    width: 53.3333%;
}
.-w-1115 {
    width: 73.3333%;
}
.-w-1315 {
    width: 86.6666%;
}
.-w-1415 {
    width: 93.3333%;
}
.-w-116 {
    width: 6.25%;
}
.-w-316 {
    width: 18.75%;
}
.-w-516 {
    width: 31.25%;
}
.-w-716 {
    width: 43.75%;
}
.-w-916 {
    width: 56.25%;
}
.-w-1116 {
    width: 68.75%;
}
.-w-1316 {
    width: 81.25%;
}
.-w-1516 {
    width: 93.75%;
}
@media all and (min-width: 1290px) {
    main {
        width: 1280px;
    }
    .-w7-n{
        display: none;
    }
    .-w7-b {
        display: block;
    }
    .-w7-i {
        display: inline;
    }
    .-w7-ib {
        display: inline-block;
    }
    .-w7-11 {
        width: 100%;
    }
    .-w7-12 {
        width: 50%;
    }
    .-w7-13 {
        width: 33.3333%;
    }
    .-w7-23 {
        width: 66.6666%;
    }
    .-w7-14 {
        width: 25%;
    }
    .-w7-34 {
        width: 75%;
    }
    .-w7-15 {
        width: 20%;
    }
    .-w7-25 {
        width: 40%;
    }
    .-w7-35 {
        width: 60%;
    }
    .-w7-45 {
        width: 80%;
    }
    .-w7-16 {
        width: 16.6666%;
    }
    .-w7-56 {
        width: 83.3333%;
    }
    .-w7-17 {
        width: 14.2857%;
    }
    .-w7-27 {
        width: 28.5714%;
    }
    .-w7-37 {
        width: 42.8571%;
    }
    .-w7-47 {
        width: 57.1428%;
    }
    .-w7-57 {
        width: 71.4285%;
    }
    .-w7-67 {
        width: 85.7142%;
    }
    .-w7-18 {
        width: 12.5%;
    }
    .-w7-38 {
        width: 37.5%;
    }
    .-w7-58 {
        width: 62.5%;
    }
    .-w7-78 {
        width: 87.5%;
    }
    .-w7-19 {
        width: 11.1111%;
    }
    .-w7-29 {
        width: 22.2222%;
    }
    .-w7-49 {
        width: 44.4444%;
    }
    .-w7-59 {
        width: 55.5555%;
    }
    .-w7-79 {
        width: 77.7777%;
    }
    .-w7-89 {
        width: 88.8888%;
    }
    .-w7-110 {
        width: 10%;
    }
    .-w7-310 {
        width: 30%;
    }
    .-w7-710 {
        width: 70%;
    }
    .-w7-910 {
        width: 90%;
    }
    .-w7-111 {
        width: 9.0909%;
    }
    .-w7-211 {
        width: 18.1818%;
    }
    .-w7-311 {
        width: 27.2727%;
    }
    .-w7-411 {
        width: 36.3636%;
    }
    .-w7-511 {
        width: 45.4545%;
    }
    .-w7-611 {
        width: 54.5454%;
    }
    .-w7-711 {
        width: 63.6363%;
    }
    .-w7-811 {
        width: 72.7272%;
    }
    .-w7-911 {
        width: 81.8181%;
    }
    .-w7-1011 {
        width: 90.909%;
    }
    .-w7-112 {
        width: 8.3333%;
    }
    .-w7-512 {
        width: 41.6666%;
    }
    .-w7-712 {
        width: 58.3333%;
    }
    .-w7-1112 {
        width: 91.6666%;
    }
    .-w7-113 {
        width: 7.6923%;
    }
    .-w7-213 {
        width: 15.3846%;
    }
    .-w7-313 {
        width: 23.0769%;
    }
    .-w7-413 {
        width: 30.7692%;
    }
    .-w7-513 {
        width: 38.4615%;
    }
    .-w7-613 {
        width: 46.1538%;
    }
    .-w7-713 {
        width: 53.8461%;
    }
    .-w7-813 {
        width: 61.5384%;
    }
    .-w7-913 {
        width: 69.2307%;
    }
    .-w7-1013 {
        width: 76.923%;
    }
    .-w7-1113 {
        width: 84.6153%;
    }
    .-w7-1213 {
        width: 92.3076%;
    }
    .-w7-114 {
        width: 7.1428%;
    }
    .-w7-314 {
        width: 21.4285%;
    }
    .-w7-514 {
        width: 35.7142%;
    }
    .-w7-914 {
        width: 64.2857%;
    }
    .-w7-1114 {
        width: 78.5714%;
    }
    .-w7-1314 {
        width: 92.8571%;
    }
    .-w7-115 {
        width: 6.6666%;
    }
    .-w7-215 {
        width: 13.3333%;
    }
    .-w7-415 {
        width: 26.6666%;
    }
    .-w7-715 {
        width: 46.6666%;
    }
    .-w7-815 {
        width: 53.3333%;
    }
    .-w7-1115 {
        width: 73.3333%;
    }
    .-w7-1315 {
        width: 86.6666%;
    }
    .-w7-1415 {
        width: 93.3333%;
    }
    .-w7-116 {
        width: 6.25%;
    }
    .-w7-316 {
        width: 18.75%;
    }
    .-w7-516 {
        width: 31.25%;
    }
    .-w7-716 {
        width: 43.75%;
    }
    .-w7-916 {
        width: 56.25%;
    }
    .-w7-1116 {
        width: 68.75%;
    }
    .-w7-1316 {
        width: 81.25%;
    }
    .-w7-1516 {
        width: 93.75%;
    }
}
@media all and (min-width: 0px) and (max-width: 1289px) {
    main {
        width: 1120px;
    }
    .-w6-n{
        display: none;
    }
    .-w6-b {
        display: block;
    }
    .-w6-i {
        display: inline;
    }
    .-w6-ib {
        display: inline-block;
    }
    .-w6-11 {
        width: 100%;
    }
    .-w6-12 {
        width: 50%;
    }
    .-w6-13 {
        width: 33.3333%;
    }
    .-w6-23 {
        width: 66.6666%;
    }
    .-w6-14 {
        width: 25%;
    }
    .-w6-34 {
        width: 75%;
    }
    .-w6-15 {
        width: 20%;
    }
    .-w6-25 {
        width: 40%;
    }
    .-w6-35 {
        width: 60%;
    }
    .-w6-45 {
        width: 80%;
    }
    .-w6-16 {
        width: 16.6666%;
    }
    .-w6-56 {
        width: 83.3333%;
    }
    .-w6-17 {
        width: 14.2857%;
    }
    .-w6-27 {
        width: 28.5714%;
    }
    .-w6-37 {
        width: 42.8571%;
    }
    .-w6-47 {
        width: 57.1428%;
    }
    .-w6-57 {
        width: 71.4285%;
    }
    .-w6-67 {
        width: 85.7142%;
    }
    .-w6-18 {
        width: 12.5%;
    }
    .-w6-38 {
        width: 37.5%;
    }
    .-w6-58 {
        width: 62.5%;
    }
    .-w6-78 {
        width: 87.5%;
    }
    .-w6-19 {
        width: 11.1111%;
    }
    .-w6-29 {
        width: 22.2222%;
    }
    .-w6-49 {
        width: 44.4444%;
    }
    .-w6-59 {
        width: 55.5555%;
    }
    .-w6-79 {
        width: 77.7777%;
    }
    .-w6-89 {
        width: 88.8888%;
    }
    .-w6-110 {
        width: 10%;
    }
    .-w6-310 {
        width: 30%;
    }
    .-w6-710 {
        width: 70%;
    }
    .-w6-910 {
        width: 90%;
    }
    .-w6-111 {
        width: 9.0909%;
    }
    .-w6-211 {
        width: 18.1818%;
    }
    .-w6-311 {
        width: 27.2727%;
    }
    .-w6-411 {
        width: 36.3636%;
    }
    .-w6-511 {
        width: 45.4545%;
    }
    .-w6-611 {
        width: 54.5454%;
    }
    .-w6-711 {
        width: 63.6363%;
    }
    .-w6-811 {
        width: 72.7272%;
    }
    .-w6-911 {
        width: 81.8181%;
    }
    .-w6-1011 {
        width: 90.909%;
    }
    .-w6-112 {
        width: 8.3333%;
    }
    .-w6-512 {
        width: 41.6666%;
    }
    .-w6-712 {
        width: 58.3333%;
    }
    .-w6-1112 {
        width: 91.6666%;
    }
    .-w6-113 {
        width: 7.6923%;
    }
    .-w6-213 {
        width: 15.3846%;
    }
    .-w6-313 {
        width: 23.0769%;
    }
    .-w6-413 {
        width: 30.7692%;
    }
    .-w6-513 {
        width: 38.4615%;
    }
    .-w6-613 {
        width: 46.1538%;
    }
    .-w6-713 {
        width: 53.8461%;
    }
    .-w6-813 {
        width: 61.5384%;
    }
    .-w6-913 {
        width: 69.2307%;
    }
    .-w6-1013 {
        width: 76.923%;
    }
    .-w6-1113 {
        width: 84.6153%;
    }
    .-w6-1213 {
        width: 92.3076%;
    }
    .-w6-114 {
        width: 7.1428%;
    }
    .-w6-314 {
        width: 21.4285%;
    }
    .-w6-514 {
        width: 35.7142%;
    }
    .-w6-914 {
        width: 64.2857%;
    }
    .-w6-1114 {
        width: 78.5714%;
    }
    .-w6-1314 {
        width: 92.8571%;
    }
    .-w6-115 {
        width: 6.6666%;
    }
    .-w6-215 {
        width: 13.3333%;
    }
    .-w6-415 {
        width: 26.6666%;
    }
    .-w6-715 {
        width: 46.6666%;
    }
    .-w6-815 {
        width: 53.3333%;
    }
    .-w6-1115 {
        width: 73.3333%;
    }
    .-w6-1315 {
        width: 86.6666%;
    }
    .-w6-1415 {
        width: 93.3333%;
    }
    .-w6-116 {
        width: 6.25%;
    }
    .-w6-316 {
        width: 18.75%;
    }
    .-w6-516 {
        width: 31.25%;
    }
    .-w6-716 {
        width: 43.75%;
    }
    .-w6-916 {
        width: 56.25%;
    }
    .-w6-1116 {
        width: 68.75%;
    }
    .-w6-1316 {
        width: 81.25%;
    }
    .-w6-1516 {
        width: 93.75%;
    }
}
@media all and (min-width: 0px) and (max-width: 1129px) {
    main {
        width: 960px;
    }
    .-w5-n{
        display: none;
    }
    .-w5-b {
        display: block;
    }
    .-w5-i {
        display: inline;
    }
    .-w5-ib {
        display: inline-block;
    }
    .-w5-11 {
        width: 100%;
    }
    .-w5-12 {
        width: 50%;
    }
    .-w5-13 {
        width: 33.3333%;
    }
    .-w5-23 {
        width: 66.6666%;
    }
    .-w5-14 {
        width: 25%;
    }
    .-w5-34 {
        width: 75%;
    }
    .-w5-15 {
        width: 20%;
    }
    .-w5-25 {
        width: 40%;
    }
    .-w5-35 {
        width: 60%;
    }
    .-w5-45 {
        width: 80%;
    }
    .-w5-16 {
        width: 16.6666%;
    }
    .-w5-56 {
        width: 83.3333%;
    }
    .-w5-17 {
        width: 14.2857%;
    }
    .-w5-27 {
        width: 28.5714%;
    }
    .-w5-37 {
        width: 42.8571%;
    }
    .-w5-47 {
        width: 57.1428%;
    }
    .-w5-57 {
        width: 71.4285%;
    }
    .-w5-67 {
        width: 85.7142%;
    }
    .-w5-18 {
        width: 12.5%;
    }
    .-w5-38 {
        width: 37.5%;
    }
    .-w5-58 {
        width: 62.5%;
    }
    .-w5-78 {
        width: 87.5%;
    }
    .-w5-19 {
        width: 11.1111%;
    }
    .-w5-29 {
        width: 22.2222%;
    }
    .-w5-49 {
        width: 44.4444%;
    }
    .-w5-59 {
        width: 55.5555%;
    }
    .-w5-79 {
        width: 77.7777%;
    }
    .-w5-89 {
        width: 88.8888%;
    }
    .-w5-110 {
        width: 10%;
    }
    .-w5-310 {
        width: 30%;
    }
    .-w5-710 {
        width: 70%;
    }
    .-w5-910 {
        width: 90%;
    }
    .-w5-111 {
        width: 9.0909%;
    }
    .-w5-211 {
        width: 18.1818%;
    }
    .-w5-311 {
        width: 27.2727%;
    }
    .-w5-411 {
        width: 36.3636%;
    }
    .-w5-511 {
        width: 45.4545%;
    }
    .-w5-611 {
        width: 54.5454%;
    }
    .-w5-711 {
        width: 63.6363%;
    }
    .-w5-811 {
        width: 72.7272%;
    }
    .-w5-911 {
        width: 81.8181%;
    }
    .-w5-1011 {
        width: 90.909%;
    }
    .-w5-112 {
        width: 8.3333%;
    }
    .-w5-512 {
        width: 41.6666%;
    }
    .-w5-712 {
        width: 58.3333%;
    }
    .-w5-1112 {
        width: 91.6666%;
    }
    .-w5-113 {
        width: 7.6923%;
    }
    .-w5-213 {
        width: 15.3846%;
    }
    .-w5-313 {
        width: 23.0769%;
    }
    .-w5-413 {
        width: 30.7692%;
    }
    .-w5-513 {
        width: 38.4615%;
    }
    .-w5-613 {
        width: 46.1538%;
    }
    .-w5-713 {
        width: 53.8461%;
    }
    .-w5-813 {
        width: 61.5384%;
    }
    .-w5-913 {
        width: 69.2307%;
    }
    .-w5-1013 {
        width: 76.923%;
    }
    .-w5-1113 {
        width: 84.6153%;
    }
    .-w5-1213 {
        width: 92.3076%;
    }
    .-w5-114 {
        width: 7.1428%;
    }
    .-w5-314 {
        width: 21.4285%;
    }
    .-w5-514 {
        width: 35.7142%;
    }
    .-w5-914 {
        width: 64.2857%;
    }
    .-w5-1114 {
        width: 78.5714%;
    }
    .-w5-1314 {
        width: 92.8571%;
    }
    .-w5-115 {
        width: 6.6666%;
    }
    .-w5-215 {
        width: 13.3333%;
    }
    .-w5-415 {
        width: 26.6666%;
    }
    .-w5-715 {
        width: 46.6666%;
    }
    .-w5-815 {
        width: 53.3333%;
    }
    .-w5-1115 {
        width: 73.3333%;
    }
    .-w5-1315 {
        width: 86.6666%;
    }
    .-w5-1415 {
        width: 93.3333%;
    }
    .-w5-116 {
        width: 6.25%;
    }
    .-w5-316 {
        width: 18.75%;
    }
    .-w5-516 {
        width: 31.25%;
    }
    .-w5-716 {
        width: 43.75%;
    }
    .-w5-916 {
        width: 56.25%;
    }
    .-w5-1116 {
        width: 68.75%;
    }
    .-w5-1316 {
        width: 81.25%;
    }
    .-w5-1516 {
        width: 93.75%;
    }
}
@media all and (min-width: 0px) and (max-width: 969px) {
    main {
        width: 800px;
    }
    .-w4-n{
        display: none;
    }
    .-w4-b {
        display: block;
    }
    .-w4-i {
        display: inline;
    }
    .-w4-ib {
        display: inline-block;
    }
    .-w4-11 {
        width: 100%;
    }
    .-w4-12 {
        width: 50%;
    }
    .-w4-13 {
        width: 33.3333%;
    }
    .-w4-23 {
        width: 66.6666%;
    }
    .-w4-14 {
        width: 25%;
    }
    .-w4-34 {
        width: 75%;
    }
    .-w4-15 {
        width: 20%;
    }
    .-w4-25 {
        width: 40%;
    }
    .-w4-35 {
        width: 60%;
    }
    .-w4-45 {
        width: 80%;
    }
    .-w4-16 {
        width: 16.6666%;
    }
    .-w4-56 {
        width: 83.3333%;
    }
    .-w4-17 {
        width: 14.2857%;
    }
    .-w4-27 {
        width: 28.5714%;
    }
    .-w4-37 {
        width: 42.8571%;
    }
    .-w4-47 {
        width: 57.1428%;
    }
    .-w4-57 {
        width: 71.4285%;
    }
    .-w4-67 {
        width: 85.7142%;
    }
    .-w4-18 {
        width: 12.5%;
    }
    .-w4-38 {
        width: 37.5%;
    }
    .-w4-58 {
        width: 62.5%;
    }
    .-w4-78 {
        width: 87.5%;
    }
    .-w4-19 {
        width: 11.1111%;
    }
    .-w4-29 {
        width: 22.2222%;
    }
    .-w4-49 {
        width: 44.4444%;
    }
    .-w4-59 {
        width: 55.5555%;
    }
    .-w4-79 {
        width: 77.7777%;
    }
    .-w4-89 {
        width: 88.8888%;
    }
    .-w4-110 {
        width: 10%;
    }
    .-w4-310 {
        width: 30%;
    }
    .-w4-710 {
        width: 70%;
    }
    .-w4-910 {
        width: 90%;
    }
    .-w4-111 {
        width: 9.0909%;
    }
    .-w4-211 {
        width: 18.1818%;
    }
    .-w4-311 {
        width: 27.2727%;
    }
    .-w4-411 {
        width: 36.3636%;
    }
    .-w4-511 {
        width: 45.4545%;
    }
    .-w4-611 {
        width: 54.5454%;
    }
    .-w4-711 {
        width: 63.6363%;
    }
    .-w4-811 {
        width: 72.7272%;
    }
    .-w4-911 {
        width: 81.8181%;
    }
    .-w4-1011 {
        width: 90.909%;
    }
    .-w4-112 {
        width: 8.3333%;
    }
    .-w4-512 {
        width: 41.6666%;
    }
    .-w4-712 {
        width: 58.3333%;
    }
    .-w4-1112 {
        width: 91.6666%;
    }
    .-w4-113 {
        width: 7.6923%;
    }
    .-w4-213 {
        width: 15.3846%;
    }
    .-w4-313 {
        width: 23.0769%;
    }
    .-w4-413 {
        width: 30.7692%;
    }
    .-w4-513 {
        width: 38.4615%;
    }
    .-w4-613 {
        width: 46.1538%;
    }
    .-w4-713 {
        width: 53.8461%;
    }
    .-w4-813 {
        width: 61.5384%;
    }
    .-w4-913 {
        width: 69.2307%;
    }
    .-w4-1013 {
        width: 76.923%;
    }
    .-w4-1113 {
        width: 84.6153%;
    }
    .-w4-1213 {
        width: 92.3076%;
    }
    .-w4-114 {
        width: 7.1428%;
    }
    .-w4-314 {
        width: 21.4285%;
    }
    .-w4-514 {
        width: 35.7142%;
    }
    .-w4-914 {
        width: 64.2857%;
    }
    .-w4-1114 {
        width: 78.5714%;
    }
    .-w4-1314 {
        width: 92.8571%;
    }
    .-w4-115 {
        width: 6.6666%;
    }
    .-w4-215 {
        width: 13.3333%;
    }
    .-w4-415 {
        width: 26.6666%;
    }
    .-w4-715 {
        width: 46.6666%;
    }
    .-w4-815 {
        width: 53.3333%;
    }
    .-w4-1115 {
        width: 73.3333%;
    }
    .-w4-1315 {
        width: 86.6666%;
    }
    .-w4-1415 {
        width: 93.3333%;
    }
    .-w4-116 {
        width: 6.25%;
    }
    .-w4-316 {
        width: 18.75%;
    }
    .-w4-516 {
        width: 31.25%;
    }
    .-w4-716 {
        width: 43.75%;
    }
    .-w4-916 {
        width: 56.25%;
    }
    .-w4-1116 {
        width: 68.75%;
    }
    .-w4-1316 {
        width: 81.25%;
    }
    .-w4-1516 {
        width: 93.75%;
    }
}
@media all and (min-width: 0px) and (max-width: 809px) {
    main {
        width: 640px;
    }
    .-w3-n{
        display: none;
    }
    .-w3-b {
        display: block;
    }
    .-w3-i {
        display: inline;
    }
    .-w3-ib {
        display: inline-block;
    }
    .-w3-11 {
        width: 100%;
    }
    .-w3-12 {
        width: 50%;
    }
    .-w3-13 {
        width: 33.3333%;
    }
    .-w3-23 {
        width: 66.6666%;
    }
    .-w3-14 {
        width: 25%;
    }
    .-w3-34 {
        width: 75%;
    }
    .-w3-15 {
        width: 20%;
    }
    .-w3-25 {
        width: 40%;
    }
    .-w3-35 {
        width: 60%;
    }
    .-w3-45 {
        width: 80%;
    }
    .-w3-16 {
        width: 16.6666%;
    }
    .-w3-56 {
        width: 83.3333%;
    }
    .-w3-17 {
        width: 14.2857%;
    }
    .-w3-27 {
        width: 28.5714%;
    }
    .-w3-37 {
        width: 42.8571%;
    }
    .-w3-47 {
        width: 57.1428%;
    }
    .-w3-57 {
        width: 71.4285%;
    }
    .-w3-67 {
        width: 85.7142%;
    }
    .-w3-18 {
        width: 12.5%;
    }
    .-w3-38 {
        width: 37.5%;
    }
    .-w3-58 {
        width: 62.5%;
    }
    .-w3-78 {
        width: 87.5%;
    }
    .-w3-19 {
        width: 11.1111%;
    }
    .-w3-29 {
        width: 22.2222%;
    }
    .-w3-49 {
        width: 44.4444%;
    }
    .-w3-59 {
        width: 55.5555%;
    }
    .-w3-79 {
        width: 77.7777%;
    }
    .-w3-89 {
        width: 88.8888%;
    }
    .-w3-110 {
        width: 10%;
    }
    .-w3-310 {
        width: 30%;
    }
    .-w3-710 {
        width: 70%;
    }
    .-w3-910 {
        width: 90%;
    }
    .-w3-111 {
        width: 9.0909%;
    }
    .-w3-211 {
        width: 18.1818%;
    }
    .-w3-311 {
        width: 27.2727%;
    }
    .-w3-411 {
        width: 36.3636%;
    }
    .-w3-511 {
        width: 45.4545%;
    }
    .-w3-611 {
        width: 54.5454%;
    }
    .-w3-711 {
        width: 63.6363%;
    }
    .-w3-811 {
        width: 72.7272%;
    }
    .-w3-911 {
        width: 81.8181%;
    }
    .-w3-1011 {
        width: 90.909%;
    }
    .-w3-112 {
        width: 8.3333%;
    }
    .-w3-512 {
        width: 41.6666%;
    }
    .-w3-712 {
        width: 58.3333%;
    }
    .-w3-1112 {
        width: 91.6666%;
    }
}
@media all and (min-width: 0px) and (max-width: 649px) {
    main {
        width: 480px;
    }
    .-w2-n{
        display: none;
    }
    .-w2-b {
        display: block;
    }
    .-w2-i {
        display: inline;
    }
    .-w2-ib {
        display: inline-block;
    }
    .-w2-11 {
        width: 100%;
    }
    .-w2-12 {
        width: 50%;
    }
    .-w2-13 {
        width: 33.3333%;
    }
    .-w2-23 {
        width: 66.6666%;
    }
    .-w2-14 {
        width: 25%;
    }
    .-w2-34 {
        width: 75%;
    }
    .-w2-15 {
        width: 20%;
    }
    .-w2-25 {
        width: 40%;
    }
    .-w2-35 {
        width: 60%;
    }
    .-w2-45 {
        width: 80%;
    }
    .-w2-16 {
        width: 16.6666%;
    }
    .-w2-56 {
        width: 83.3333%;
    }
    .-w2-17 {
        width: 14.2857%;
    }
    .-w2-27 {
        width: 28.5714%;
    }
    .-w2-37 {
        width: 42.8571%;
    }
    .-w2-47 {
        width: 57.1428%;
    }
    .-w2-57 {
        width: 71.4285%;
    }
    .-w2-67 {
        width: 85.7142%;
    }
    .-w2-18 {
        width: 12.5%;
    }
    .-w2-38 {
        width: 37.5%;
    }
    .-w2-58 {
        width: 62.5%;
    }
    .-w2-78 {
        width: 87.5%;
    }
}
@media all and (min-width: 0px) and (max-width: 489px) {
    main {
        width: 320px;
    }
    .-w1-n{
        display: none;
    }
    .-w1-b {
        display: block;
    }
    .-w1-i {
        display: inline;
    }
    .-w1-ib {
        display: inline-block;
    }
    .-w1-11 {
        width: 100%;
    }
    .-w1-12 {
        width: 50%;
    }
    .-w1-13 {
        width: 33.3333%;
    }
    .-w1-23 {
        width: 66.6666%;
    }
    .-w1-14 {
        width: 25%;
    }
    .-w1-34 {
        width: 75%;
    }
    .-w1-15 {
        width: 20%;
    }
    .-w1-25 {
        width: 40%;
    }
    .-w1-35 {
        width: 60%;
    }
    .-w1-45 {
        width: 80%;
    }
    .-w1-16 {
        width: 16.6666%;
    }
    .-w1-56 {
        width: 83.3333%;
    }
    .-w1-17 {
        width: 14.2857%;
    }
    .-w1-27 {
        width: 28.5714%;
    }
    .-w1-37 {
        width: 42.8571%;
    }
    .-w1-47 {
        width: 57.1428%;
    }
    .-w1-57 {
        width: 71.4285%;
    }
    .-w1-67 {
        width: 85.7142%;
    }
    .-w1-18 {
        width: 12.5%;
    }
    .-w1-38 {
        width: 37.5%;
    }
    .-w1-58 {
        width: 62.5%;
    }
    .-w1-78 {
        width: 87.5%;
    }
}
@media all and (min-width: 0px) and (max-width: 320px) {
    main {
        width: 100%;
    }
    .-w0-n{
        display: none;
    }
    .-w0-b {
        display: block;
    }
    .-w0-i {
        display: inline;
    }
    .-w0-ib {
        display: inline-block;
    }
    .-w0-11 {
        width: 100%;
    }
    .-w0-12 {
        width: 50%;
    }
    .-w0-13 {
        width: 33.3333%;
    }
    .-w0-23 {
        width: 66.6666%;
    }
    .-w0-14 {
        width: 25%;
    }
    .-w0-34 {
        width: 75%;
    }
    .-w0-15 {
        width: 20%;
    }
    .-w0-25 {
        width: 40%;
    }
    .-w0-35 {
        width: 60%;
    }
    .-w0-45 {
        width: 80%;
    }
    .-w0-16 {
        width: 16.6666%;
    }
    .-w0-56 {
        width: 83.3333%;
    }
}
