button{
	background: none;
	border: none;
	font:inherit;
	color: inherit;
}
:root{
	--dark-gray:#212121;
	--gray:#303030;
	--light-gray:#424242;
	--blue:#3e50b4;
	--red:#ff3f80;
}
.b-dark-gray{background: var(--dark-gray)}
.b-gray{background: var(--gray)}
.b-light-gray{background: var(--light-gray)}
.b-light-gray-hover:hover{background: var(--light-gray)}
.c-blue{color: var(--blue)}
.b-blue{background: var(--blue)}
.c-red{color: var(--red)}
.b-red{background: var(--red)}
.sqr{height:50px;width:50px;line-height:50px;}
.li-h-50px{line-height: 50px}
.w-200px{width: 200px;}
.h-100d{height: 100%;}
.dis-f{display: flex;display:-moz-flex;display: -webkit-flex;}
.f-wrap-w{flex-wrap: wrap;-webkit-flex-wrap: wrap;}
.al-it-c{align-items: center;-webkit-align-items: center;}
.al-it-e{align-items: end;-webkit-align-items: flex-end;}
.al-it-st{align-items: stretch;-webkit-align-items: stretch;}
.jus-c-c{justify-content: center;-webkit-justify-content: center;}
.jus-c-sa{justify-content: space-around;-webkit-justify-content: space-around;}
.jus-c-sb{justify-content: space-between;-webkit-justify-content: space-between;}
.jus-c-se{justify-content: space-evenly;-webkit-justify-content: space-around;}
.flex-d-c{flex-direction: column;-webkit-flex-direction: column;}
.flex-d-rw{flex-direction: row-reverse;-webkit-flex-direction: row-reverse;}
.flex-w-w{flex-wrap: wrap;-webkit-flex-wrap: wrap;}
.flex-sh-0{flex-shrink: 0}
.transition{transition: all 0.3s}
.z-100{z-index: 100}

#board {
	margin-top: 50px;
	margin-bottom: 60px;
	display: grid;
	grid-template-columns: repeat(Auto-fit,minmax(0,50px));
	grid-template-rows: repeat(Auto-fit,minmax(0,50px));
	justify-content: center;
	grid-gap: 10px;
}
#board > div:last-of-type{
	box-sizing: border-box;
	border-bottom: 3px solid #2ECC71;
}
.player_1 {
	display: block;
	background-color: var(--blue);
}
.player_2 {
	display: block;
	background-color: var(--red);
}
#start_player_1.filled {
	background-color: var(--blue);
}
#start_player_1.empty {
	background-color: #7784ca;
}
#start_player_2.filled {
	background-color: var(--red);
}
#start_player_2.empty {
	background-color: #ff78a6;
}
.winner_msg_1 {
	background-color: var(--blue);
}
.winner_msg_2 {
	background-color: var(--red);
}


@media all and (max-width: 649px){
	#panel{
		flex-direction: column;
	}
	#panel > div > .w-200px{
		width: 100%;
	}
	#board {
		margin-top: 10px;
		margin-bottom: 120px;
	}
}
