button{
	background: none;
	border: none;
	font:inherit;
	color: inherit;
}
.body{color:white;}
.sqr{height:30px;width:30px;line-height:30px;}
.dis-f{display: flex;display:-moz-flex;display: -webkit-flex;}
.f-wrap-w{flex-wrap: wrap;-webkit-flex-wrap: wrap;}
.al-it-c{align-items: center;-webkit-align-items: center;}
.al-it-e{align-items: end;-webkit-align-items: flex-end;}
.al-it-st{align-items: stretch;-webkit-align-items: stretch;}
.jus-c-c{justify-content: center;-webkit-justify-content: center;}
.jus-c-sa{justify-content: space-around;-webkit-justify-content: space-around;}
.jus-c-sb{justify-content: space-between;-webkit-justify-content: space-between;}
.jus-c-se{justify-content: space-evenly;-webkit-justify-content: space-around;}
.flex-d-c{flex-direction: column;-webkit-flex-direction: column;}
.flex-d-rw{flex-direction: row-reverse;-webkit-flex-direction: row-reverse;}
.flex-w-w{flex-wrap: wrap;-webkit-flex-wrap: wrap;}
.transition{transition: all 0.3s}







div, button, span {
}
/*adad tooe dayere*/
span:nth-child(1) {

}
/*board adad*/
#board {
}
/*dayere haye adad*/
#board > div {
}
/*adad too dayere*/
#board > div > span:nth-child(1) {
}
/*dayere k range qermezo sabz mishe too dayere adad*/
.pawn {  

}
/*baraye pawn*/
.player_1 {
	display: block;
	background-color: #2ECC71;
}
/*baraye pawn*/
.player_2 {
	display: block;
	background-color: #E74C3C;
}
/*khane shoro qermezo sabz*/
#start_player_1, #start_player_2 {
}
#start_player_1 {   
	left: 40%;
}
#start_player_1[class='filled'] {    
	background-color: #2ECC71;
}
#start_player_1[class='empty'] {
	background-color: #ABEBC6;
}
#start_player_2 { 
	left: 60%;
}
#start_player_2[class='filled'] {
	background-color: #E74C3C;
}
#start_player_2[class='empty'] {
	background-color: #F5B7B1;
} 
/*panel dokme ha*/
#panel {
}
/*style dokme ha*/
button {
}
/*style dokme tas andaz*/
#roll {
}
/*natije tas*/
.dice {
}
/*adad dakhele natije tas*/
.dice > span {
}
/*hover dokme tas andaz*/
#roll:hover {
}
#first_die {
}
#second_die {
}
/*amal gar ha*/
.operator {
}
.operator:focus, #roll:focus {
}
.operator:hover {
}
#sum {
}
#subtract {
}
#multiply {
}
#divide {
}
/*payame barande*/
#msg {
}
#msg > span {
}
/*style payam*/
.no_winner { 
	background-color: #ccc;
	border: 3px solid #bbb;
}
.winner_msg_1 {
	background-color: #2ECC71;
	border: 3px solid #555;
}
.winner_msg_2 {
	background-color: #E74C3C;
	border: 3px solid #555;
}

